@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans: 'Poppins', 'ui-sans-serif', 'system-ui', 'sans-serif';
}

.card-background {
    @apply relative overflow-hidden bg-black/30;
}

.card-background::before {
    content: '';
    background-image: url('/background-pictures/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: absolute;
    inset: 0;
    z-index: -1;
}

.grid-cols-forecast {
    @apply grid-cols-[40px_minmax(50px,100px)_5px_minmax(50px,65px)_minmax(90px,105px)_minmax(90px,90px)];
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
